@charset "UTF-8";

body{
    background-color:rgb(53, 38, 20) ;
    margin: 5%;
  }

.main{
    background-color: rgb(247, 199, 144);
    padding: 15px;
    border-radius: 7%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.rodape{
    background-color:rgb(189, 140, 79) ;
    margin: 5%;
    padding: 15px;
    border-radius: 10%;
    height: 190px;
    max-width:800px;
    
}

.titulo {
       text-align: center;
       border-radius: 30px;
       border: 1px solid black;
       margin-top: 30px;
       margin-bottom: 40px;
       margin-left: 20px;
       margin-right: 70px;
}

.borda {
    border: 1px solid black;
    
}

 li {
    display: inline;
   font-size: 30px;
   text-align: center
}


.container {
    display:flex;
   align-items:self-start;

    }

    .texto {
    margin-left: 20px; /* Espaço entre a imagem e o texto */
    }
